@page "/CargarImagenesLote"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]
@{
    ViewData["Title"] = "Cargar Imágenes por Lote";
    Layout = "_AdminLayout";
}

<h1>Cargar Imágenes por Lote</h1>

<form id="cargarImagenesLoteForm" class="needs-validation" enctype="multipart/form-data" novalidate>
    <div class="form-group">
        <label for="imagenes">Seleccionar Imágenes:</label>
        <input type="file" class="form-control-file" id="imagenes" name="imagenes" multiple required>
        <div class="invalid-feedback">
            Por favor, seleccione al menos una imagen.
        </div>
    </div>
    <button class="btn btn-primary" type="button" id="subirImagenes">Subir</button>
</form>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.getElementById('subirImagenes').addEventListener('click', function () {
            var formData = new FormData();
            var imagenes = document.getElementById('imagenes').files;
            var token = localStorage.getItem('token'); // Obtener el token almacenado

            for (var i = 0; i < imagenes.length; i++) {
                formData.append('imagenes', imagenes[i]);
            }

            fetch('/api/Productos/SubirImagenesPorLote', {
                method: 'POST',
                headers: {
                    'Authorization': 'Bearer ' + token // Incluir el token en los encabezados
                },
                body: formData
            })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Error al subir las imágenes');
                    }
                })
                .then(data => {
                    alert('Imágenes subidas con éxito');
                })
                .catch(error => {
                    console.error('Error al subir las imágenes:', error);
                });
        });
    </script>
}

