@page "/CargarImagenesLote"
@{
    ViewData["Title"] = "Cargar Imágenes por Lote";
    Layout = "_Layout";
}

<h1>Cargar Imágenes por Lote</h1>

<form id="cargarImagenesLoteForm" class="needs-validation" enctype="multipart/form-data" novalidate>
    <div class="form-group">
        <label for="imagenes">Seleccionar Imágenes:</label>
        <input type="file" class="form-control-file" id="imagenes" name="imagenes" multiple required>
        <div class="invalid-feedback">
            Por favor, seleccione al menos una imagen.
        </div>
    </div>
    <button class="btn btn-primary" type="button" id="subirImagenes">Subir</button>
</form>


@section Scripts {
    <script>
        document.getElementById('subirImagenes').addEventListener('click', function () {
            var formData = new FormData();
            var imagenes = document.getElementById('imagenes').files;

            for (var i = 0; i < imagenes.length; i++) {
                formData.append('imagenes', imagenes[i]);
            }

            fetch('/api/Productos/SubirImagenesPorLote', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    alert('Imágenes subidas con éxito');
                })
                .catch(error => {
                    console.error('Error al subir las imágenes:', error);
                });
        });
    </script>
}
