@page
@{
    ViewData["Title"] = "Productos";
    Layout = "_AdminLayout";
}

<style>
    .card-custom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%; /* Asegura que el card ocupe toda la altura disponible */
    }

    .card-img-custom {
        height: 150px; /* Ajusta la altura de la imagen según sea necesario */
        object-fit: contain; /* Ajusta la imagen dentro del contenedor sin recortarla */
        object-position: center; /* Centra la imagen dentro del contenedor */
        width: 100%;
    }

    .card-body-custom {
        flex-grow: 1; /* Hace que el cuerpo del card crezca para ocupar el espacio disponible */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-title {
        white-space: normal; /* Permite que el texto se divida en varias líneas */
        overflow-wrap: break-word; /* Fuerza un salto de línea si es necesario */
        word-wrap: break-word; /* Compatibilidad con navegadores más antiguos */
        margin-bottom: auto; /* Empuja el resto del contenido hacia abajo */
    }

    .card-text {
        margin-bottom: 4px; /* Asegura un pequeño espacio entre las líneas de texto */
    }

    .card a {
        text-decoration: none; /* Elimina el subrayado de los enlaces */
        color: inherit; /* Mantiene el color del texto del enlace igual al del texto normal */
    }

</style>

<h1>Productos</h1>

<form id="buscarForm" class="m-5">
    <div class="form-row m-5">
        <div class="input-group mb-1">
            <input type="text" id="termino" name="Termino" class="form-control" placeholder="Buscar producto" aria-label="Buscar producto" aria-describedby="button-addon2">
            <button type="button" class="btn btn-outline-primary" id="button-addon2">Buscar</button>
        </div>
    </div>
</form>

<div class="row" id="productosContainer"></div>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center" id="paginationContainer">
        <li class="page-item">
            <a class="page-link" href="#" id="prevPage">Anterior</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" id="nextPage">Siguiente</a>
        </li>
    </ul>
</nav>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var pagina = 1;
            var cantidadPorPagina = 10;
            var totalPaginas = 0;

            function cargarProductos(termino) {
                var url = termino ? '/api/Productos/buscar' : '/api/Productos/paginacion';

                // Obtener el token desde el localStorage
                var token = localStorage.getItem('token');

                $.ajax({
                    url: url,
                    type: 'GET',
                    data: { termino: termino, pagina: pagina, cantidadPorPagina: cantidadPorPagina },
                    headers: {
                        'Authorization': 'Bearer ' + token  // Incluir el token en la cabecera de la solicitud
                    },
                    success: function (response) {
                        var productosContainer = $("#productosContainer");
                        productosContainer.empty();
                        response.items.forEach(function (item) {
                            var productHtml = `
                                    <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                                        <div class="card card-custom shadow-sm">
                                            <a href="/Productos/ProductoDetallesAdmin/${item.productoId}">
                                                <img src="/images/${item.imagenURL}" class="card-img-top card-img-custom" alt="${item.descripcion}" onerror="this.onerror=null; this.src='/images/folder.png';">
                                                <div class="card-body card-body-custom">
                                                    <h5 class="card-title">${item.descripcion}</h5>
                                                    <p class="card-text">${item.codigo}</p>
                                                    <p class="card-text"><strong>Existencia:</strong> ${item.existencia}</p>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <small class="text-muted">${item.marca}</small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>`;
                            productosContainer.append(productHtml);
                        });
                        totalPaginas = response.totalPaginas;
                        actualizarPaginacion();
                    },
                    error: function (error) {
                        console.error('Error al cargar productos:', error);
                    }
                });
            }

            function actualizarPaginacion() {
                var paginationContainer = $("#paginationContainer");
                paginationContainer.empty();

                paginationContainer.append(`
                                            <li class="page-item ${pagina === 1 ? 'disabled' : ''}">
                                                <a class="page-link" href="#" id="prevPage">Anterior</a>
                                            </li>
                                        `);

                if (pagina > 4) {
                    paginationContainer.append(`
                                                <li class="page-item">
                                                    <a class="page-link" href="#" data-page="1">1</a>
                                                </li>
                                                <li class="page-item disabled"><span class="page-link">...</span></li>
                                            `);
                }

                var startPage = Math.max(1, pagina - 3);
                var endPage = Math.min(totalPaginas, pagina + 3);

                for (var i = startPage; i <= endPage; i++) {
                    paginationContainer.append(`
                                                <li class="page-item ${i === pagina ? 'active' : ''}">
                                                    <a class="page-link" href="#" data-page="${i}">${i}</a>
                                                </li>
                                            `);
                }

                if (endPage < totalPaginas - 1) {
                    paginationContainer.append(`
                                                <li class="page-item disabled"><span class="page-link">...</span></li>
                                                <li class="page-item"><a class="page-link" href="#" data-page="${totalPaginas}">${totalPaginas}</a></li>
                                            `);
                } else if (endPage === totalPaginas - 1) {
                    paginationContainer.append(`
                                                <li class="page-item"><a class="page-link" href="#" data-page="${totalPaginas}">${totalPaginas}</a></li>
                                            `);
                }

                paginationContainer.append(`
                                            <li class="page-item ${pagina === totalPaginas ? 'disabled' : ''}">
                                                <a class="page-link" href="#" id="nextPage">Siguiente</a>
                                            </li>
                                        `);
            }

            $("#paginationContainer").on("click", ".page-link", function (e) {
                e.preventDefault();
                var newPage = $(this).data("page");
                if (newPage) {
                    pagina = newPage;
                } else if ($(this).attr("id") === "prevPage") {
                    if (pagina > 1) pagina--;
                } else if ($(this).attr("id") === "nextPage") {
                    if (pagina < totalPaginas) pagina++;
                }
                cargarProductos($("#termino").val());
            });

            $("#button-addon2").click(function () {
                var termino = $("#termino").val();
                pagina = 1; // Reset to first page on search
                cargarProductos(termino);
            });

            // Load initial set of products
            cargarProductos("");
        });
    </script>
}
