@page "/SubirImagen"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]
@{
    ViewData["Title"] = "Cargar Imágenes por Lote";
    Layout = "_AdminLayout";
}
<h1>Cargar Imagen</h1>

<form id="cargarImagenForm" class="needs-validation" enctype="multipart/form-data" novalidate>
    <div class="form-group">
        <label for="codigo">Código del Producto:</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="codigo" name="codigo" required>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="buscarProducto">Buscar</button>
            </div>
        </div>
        <div class="invalid-feedback">
            Por favor, ingrese un código de producto válido.
        </div>
    </div>
    <div id="productoInfo" style="display:none;">
        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <p id="descripcion" class="form-control-plaintext"></p>
        </div>
        <div class="form-group">
            <label>Imagen Actual:</label>
            <img id="imagenActual" src="" class="img-fluid img-thumbnail" alt="Imagen del producto">
        </div>
        <div class="form-group">
            <label for="nuevaImagen">Nueva Imagen:</label>
            <input type="file" class="form-control-file" id="nuevaImagen" name="nuevaImagen" required>
            <div class="invalid-feedback">
                Por favor, seleccione una imagen.
            </div>
        </div>
        <button class="btn btn-primary" type="button" id="subirImagen">Subir</button>
    </div>
</form>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        debugger
        $(document).ready(function () {
            // Obtener el token desde el localStorage
            var token = localStorage.getItem('token');

            // Configurar fetch para incluir el token en las solicitudes
            function fetchWithToken(url, options) {
                options = options || {};
                options.headers = options.headers || {};
                options.headers['Authorization'] = 'Bearer ' + token;
                return fetch(url, options);
            }

            document.getElementById('buscarProducto').addEventListener('click', function () {
                var codigo = document.getElementById('codigo').value;
                fetchWithToken(`/api/Productos/codigo/${codigo}`)
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('Error al buscar producto');
                        }
                    })
                    .then(data => {
                        document.getElementById('productoInfo').style.display = 'block';
                        document.getElementById('descripcion').innerText = data[0].descripcion;
                        document.getElementById('imagenActual').src = `/images/${data[0].imagenURL}`;
                    })
                    .catch(error => {
                        console.error('Error al buscar producto:', error);
                    });
            });


            document.getElementById('subirImagen').addEventListener('click', function () {
                var formData = new FormData();
                var codigo = document.getElementById('codigo').value;
                var nuevaImagen = document.getElementById('nuevaImagen').files[0];

                formData.append('codigo', codigo);
                formData.append('nuevaImagen', nuevaImagen);

                fetchWithToken('/api/Productos/SubirImagen', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('Error al subir imagen');
                        }
                    })
                    .then(data => {
                        alert('Imagen subida con éxito');
                        document.getElementById('imagenActual').src = `/images/${data.imagenURL}`;
                    })
                    .catch(error => {
                        console.error('Error al subir la imagen:', error);
                    });
            });
        });
    </script>
}
