@page "/Login/Login"
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ferretería</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.css">

    <style>
        body {
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            font-size: 15px;
            line-height: 1.7;
            background: #f5f5f5;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .card {
            border-radius: 1rem;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        }

        .card-body {
            padding: 2rem;
        }

        .btn-primary {
            background-color: #0062cc;
            border-color: #0056b3;
        }

            .btn-primary:hover {
                background-color: #0056b3;
                border-color: #004085;
            }

        .form-control:focus {
            border-color: #0062cc;
            box-shadow: none;
        }

        h2 {
            color: #333;
            font-weight: bold;
        }

        .form-label {
            color: #555;
        }

        .card-body .form-control {
            background-color: #fff;
            border: 1px solid #ced4da;
            padding: 0.75rem 1.25rem;
            font-size: 1rem;
        }

        .card-body .form-control-lg {
            font-size: 1.25rem;
        }

        .form-outline {
            position: relative;
            margin-bottom: 1.5rem;
        }

            .form-outline .form-label {
                position: absolute;
                top: -1.25rem;
                left: 0.75rem;
                background-color: #fff;
                padding: 0 0.25rem;
                font-size: 0.85rem;
                color: #333;
            }
    </style>
</head>

<body>

    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card">
                    <div class="card-body text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2">Inicio de sesión</h2>
                            <p class="mb-5">Por favor ingrese su usuario y contraseña!</p>

                            <div class="form-outline form-white mb-4">
                                <input type="text" id="typeUsernameX" class="form-control form-control-lg" required />
                                <label class="form-label" for="typeUsernameX">Usuario</label>
                            </div>

                            <div class="form-outline form-white mb-4">
                                <input type="password" id="typePasswordX" class="form-control form-control-lg" required />
                                <label class="form-label" for="typePasswordX">Contraseña</label>
                            </div>

                            <button class="btn btn-primary btn-lg px-5" type="button" id="loginButton">Login</button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#loginButton').click(function () {
                var username = $('#typeUsernameX').val();
                var password = $('#typePasswordX').val();
                $.ajax({
                    url: '/api/Auth/login',
                    type: 'POST',
                    data: { username: username, password: password },
                    success: function (response) {
                        localStorage.setItem('token', response.token);
                        localStorage.setItem('username', username);
                        window.location.href = "/Productos/ProductosAdmin"; // Redirigir a la página de productos después de un login exitoso
                    },
                    error: function (error) {
                        console.error('Error al iniciar sesión:', error);
                        alert('Credenciales incorrectas. Por favor, inténtelo de nuevo.');
                    }
                });
            });
        });
    </script>
</body>
